container_commands:

  01_install_req:
    command: "/opt/python/run/venv/bin/pip install -r ./requirements.txt"

  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python ./manage.py migrate --noinput"

  03_buildstatic:
    command: "source /opt/python/run/venv/bin/activate && python ./manage.py collectstatic --noinput"

services:
  sysvinit:
    memcached:
      enabled: true
      ensureRunning: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "config.settings.production"
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "./config/wsgi.py"
    