option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "djangoexample.settings"
    "PYTHONPATH": "/opt/python/current/app/djangoexample:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: djangoexample/wsgi.py
    NumProcesses: 3
    NumThreads: 20
    